.app-component-container {
  flex: 0 0 auto;
  width: 28%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
}
.app-component-link {
  display: contents;
}
.app-component-icon {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.app-component-link1 {
  display: contents;
}
.app-component-icon2 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.app-component-link2 {
  display: contents;
}
.app-component-icon4 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}
.app-component-link3 {
  display: contents;
}
.app-component-icon6 {
  width: 32px;
  height: 32px;
  text-decoration: none;
}


@media(max-width: 767px) {
  .app-component-root-class-name {
    width: 50%;
  }
  .app-component-root-class-name1 {
    width: 50%;
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-container1 {
  gap: 32;
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-text {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 700;
  margin-bottom: 18px;
}
.about-text01 {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
}
.about-text03 {
  font-family: "Poppins";
}
.about-link {
  color: var(--dl-color-primary-300);
  text-decoration: underline;
}
@media(max-width: 767px) {
  .about-container1 {
    max-width: 90%;
  }
}
