.verifikasi-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.verifikasi-container1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.verifikasi-icon {
  fill: #00a5ff;
  width: 23px;
  height: 23px;
}
.verifikasi-container2 {
  left: 0px;
  width: 23px;
  height: 23px;
  display: none;
  position: absolute;
  transition: 1s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.verifikasi-container2:hover {
  display: block;
}
.verifikasi-container3 {
  flex: 0 0 auto;
  left: 20px;
  width: auto;
  height: auto;
  display: flex;
  padding: 3px;
  position: absolute;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #464646;
}
.verifikasi-text {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 12px;
  text-align: left;
  border-radius: 10px;
}
.verifikasi-root-class-name {
  margin-left: 3px;
}

.profil-struktur-kelas1-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profil-struktur-kelas1-profil {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profil-struktur-kelas1-foto {
  cursor: pointer;
  display: flex;
  transition: 0.8s ease;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profil-struktur-kelas1-foto:hover {
  transform: scale(1.08);
}
.profil-struktur-kelas1-foto-profil {
  width: 150px;
  height: 150px;
  align-self: center;
  object-fit: cover;
  border-color: #001241;
  border-width: 5px;
  border-radius: 50%;
}
.profil-struktur-kelas1-title {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 5px;
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profil-struktur-kelas1-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.profil-struktur-kelas1-nama {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 8px;
}
.profil-struktur-kelas1-nama1 {
  color: var(--dl-color-gray-700);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: capitalize;
}

